@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1: #325c58;
    --cor2:#5a5857;
    --cor3:#493328;
    --cor4: #faebd7;
    --cor5: #d15c21;

    --font-principal: Oswald, sans-serif;
    --font-secundaria: Playfair Display, sans-serif;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: #E7E7E7;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    background-color: var(--cor1);
    height: 60px;
    text-align: center;
    width: 100vw;
    


}

nav{
    height: 20%;
}

header > nav> #linklogo{
    display: inline;
    width: 100vw;
    
    
}

header > nav > #linklogo > a > #flogo{
    width: 150px;
   
}
ul{
    display: none;
    position: relative;
    list-style-type: none;
    padding: 50% 5%;
    width: 100vw;
    height: 100vh;
    float: left;
    background-color: rgba(3, 3, 3, 0.89);
    transition: opacity 0.3s ease-in-out;
    
}


#imenufechar{
    color: white;
    font-size: 3em;
    cursor: pointer;

}

#lifechar{
    position: absolute;
    top: 10%;
    left: 80%;
}

#divmenu{
    display: inline-block;
}

#imenuabrir{
    position: absolute;
    top: 20px;
    left: 90%;
    color: white;
    font-size: 2.4em;
    cursor: pointer;
    
}



ul > li{
    display: block;
    text-align: left;
    padding-right: 2vw;
    height: 5vh;
    margin: 15px 0px;
}

ul > li > a{
    font-family: var(--font-principal);
    font-size: 1.5em;
    color: white;
    letter-spacing: 3px;
    margin: 5px;
    text-decoration: none;

    
}

ul > li > a:hover{
    color: var(--cor5);
}

main{

}

.slideshow-container {
    position: relative;
    max-width: 100%;
  }
  
  .slide {
    display: none;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .dot {
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  
  
  .sessaoloja{
      display: flex;
      flex-wrap:wrap;
      justify-content:center;
      width: 100%;
      height: 100%;
  
  }

  .tsessao{
    width: 100%;
  }

  .tsessao > .fsessao{
    display: block;
    width: 400px;
    margin: 15px auto;
  }


  .sessaoloja >.produtoitem{
      height: 340px;
      width: 300px;
      margin:20px;
      border-radius: 15px;
  }
  
  .sessaoloja > .produtoitem > .fitem{
      display: flex;
      background-color: #E8E0D7;
      width: 300px;
      height: 200px;
      overflow: hidden;
      border-radius: 15px;
      
  }
  .tituloitem{
      font-family: var(--font-principal);
      text-align: left;
      font-size: 1.2em;
      font-weight: 500;
      margin: 5px 10px 0px 10px;
  }
  
  .descricaoitem{
      font-family: var(--font-principal);
      font-weight: 300;
      text-align: left;
      margin: 5px 0px 0px 10px;
   
  }

  strong{
    font-weight: 400;
  }

  .menu-opcoes{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    
  }
  .preco{
    font-family: var(--font-principal);
    margin: 0px 10px;
  }
  section{
  
  }
  
  footer{
      background-color: var(--cor1);
      height: 10%;
  }