@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1: #325c58;
    --cor2:#5a5857;
    --cor3:#493328;
    --cor4: #faebd7;
    --cor5: #d15c21;

    --font-principal: Oswald, sans-serif;
    --font-secundaria: Playfair Display, sans-serif;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: #faebd7;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    background-color: var(--cor1);
    height: 60px;
    text-align: center;
    width: 100vw;
    


}

nav{
    height: 20%;
}

header > nav> #linklogo{
    display: inline;
    width: 100vw;
    
    
}

header > nav > #linklogo > a > #flogo{
    width: 150px;
   
}
ul{
    display: none;
    position: relative;
    list-style-type: none;
    padding: 50% 5%;
    width: 100vw;
    height: 100vh;
    float: left;
    background-color: rgba(3, 3, 3, 0.89);
    transition: opacity 0.3s ease-in-out;
    
}


#imenufechar{
    color: white;
    font-size: 3em;
    cursor: pointer;

}

#lifechar{
    position: absolute;
    top: 10%;
    left: 80%;
}

#divmenu{
    display: inline-block;
}

#imenuabrir{
    position: absolute;
    top: 20px;
    left: 90%;
    color: white;
    font-size: 2.4em;
    cursor: pointer;
    
}



ul > li{
    display: block;
    text-align: left;
    padding-right: 2vw;
    height: 5vh;
    margin: 15px 0px;
}

ul > li > a{
    font-family: var(--font-principal);
    font-size: 1.5em;
    color: white;
    letter-spacing: 3px;
    margin: 5px;
    text-decoration: none;

    
}

ul > li > a:hover{
    color: var(--cor5);
}

main{

}
#fcardapio{
    display: block;
    width: 65%;
    margin: 40px auto 0px auto;
    
}

.tbebidas{
    font-family: var(--font-secundaria);
    color: var(--cor5);
    margin: 40px 0px 40px 5px;
    text-decoration: underline;
    text-align: center;
    font-size: 1.8em;

}
.sessoesc{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    height: 100%;
}

.sessoesc > div{
    display: block;
    margin: 25px 20px;
    background-color: #fff3ed;
    width: 200px;
    height: 220px;
    border-radius: 15px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.185);
    overflow: hidden;
}

.sessoesc > div > p{
    margin: 11px;
    text-align: justify;
    
}

.sessoesc > div > img{
   
    display: block;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.sessoesc> div > h1{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--cor5);
    font-size: 1em;
    margin-top: 10px;
}

.sessoesc > div > h2{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--cor5);
    font-size: 1.5em;
    margin-top: 10px;
}




#sessoesc > div > input[type='button']{
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-transform: capitalize;
    display: block;
    margin: 20px auto;
    width: 170px;
    height: 30px;
    background-color: #325c58;
}
section{

}

footer{
    background-color: var(--cor1);
    height: 10%;
}