@charset "UTF-8";



  .sessao{
    display: flex;
    flex-direction: column;
    width: 40%;
    height:auto;
    margin: 20px;


  }

  .ultima{
   margin: auto;
   width: 83%;
   
  }

  .ultima > ul{

   columns: 2;
    
   }

  .sessao > ul > li{
    margin-bottom: 40px;
  }

  .produto{
    display: flex;
    width: 100%;
    height: auto;
  
  }


  .fproduto{
    width: 150px;
    height: 120px;
    border-radius: 15px;
    overflow: hidden;
  }

  .fproduto > img{
    display: block;
    margin: 10px 0px;
    width: 100%;
    height: 120px;
    border-radius:15px;
   
  }

  .texto{
    width: 190px;
    font-family: var(--font-principal);
    margin-left: 15px;
    
  }

  .tproduto{
    font-family: var(--font-principal);
    font-size: 1.2em;
    font-weight: 600;
  }
  .descricao-preco{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

 .descricao{
  width: 110px;
  font-weight: 300;
  font-size: 1.1em;

 }
 
 .descricao > strong{
  font-weight: 400;
 }

 .preco{
  line-height: 1.6em;
  width: 50px;
  font-weight: bold;
 }

footer{
  height: 250px;
}

.sessoesfooter{
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: flex-end;
  
}

.sessoesfooter > div{
  margin: 40px;
}

.links > a {
  font-size: 1.3em;
}

.icone{
  width: 38px;
}