@charset "UTF-8";

.sessao{
    margin: 30px 2% 0px 0px;
}

.slideshow-container{
    display: none;
}

.dot {
  display: none;
  }

footer{
    height: 250px;
}

.sessoesfooter{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: flex-end;
    
}

.sessoesfooter > div{
    margin: 40px;
}

.links > a {
    font-size: 1.3em;
}

.icone{
    width: 38px;
}