@charset "UTF-8";

.sessao{
    margin: 30px 2% 0px 0px;
}

.slideshow-container{
    display: none;
}

.dot {
  display: none;
  }

  .sessao-footer{
 
    justify-content: start;
    flex-direction: row;
    gap: 60px;
    
  }
.form {
  
    width: 300px;
    font-size: 1.125rem;
  }
  
  .links-uteis > li{
    font-size: 1.4em;
    margin: 20px 0px;
  }
  