@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1: #325c58;
    --cor2:#5a5857;
    --cor3:#493328;
    --cor4: #faebd7;
    --cor5: #d15c21;

    --font-principal: Oswald, sans-serif;
    --font-secundaria: Playfair Display, sans-serif;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: #faebd7;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header{
    background-color: var(--cor1);
    height: 60px;
    text-align: center;
    width: 100vw;
    


}

nav{
    height: 20%;
}

header > nav> #linklogo{
    display: inline;
    width: 100vw;
    
    
}

header > nav > #linklogo > a > #flogo{
    width: 150px;
   
}
ul{
    display: none;
    position: relative;
    list-style-type: none;
    padding: 50% 5%;
    width: 100vw;
    height: 100vh;
    float: left;
    background-color: rgba(3, 3, 3, 0.89);
    transition: opacity 0.3s ease-in-out;
    
}


#imenufechar{
    color: white;
    font-size: 3em;
    cursor: pointer;

}

#lifechar{
    position: absolute;
    top: 10%;
    left: 80%;
}

#divmenu{
    display: inline-block;
}

#imenuabrir{
    position: absolute;
    top: 20px;
    left: 90%;
    color: white;
    font-size: 2.4em;
    cursor: pointer;
    
}



ul > li{
    display: block;
    text-align: left;
    padding-right: 2vw;
    height: 5vh;
    margin: 15px 0px;
}

ul > li > a{
    font-family: var(--font-principal);
    font-size: 1.5em;
    color: white;
    letter-spacing: 3px;
    margin: 5px;
    text-decoration: none;

    
}

ul > li > a:hover{
    color: var(--cor5);
}

p{

}
section#destaque{
    position: relative;
    color: white;
    background-image: url(../imagens/destaquep.jpg);
    background-position:center top ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 65vh;
    border-bottom: 2px solid var(--cor5);
}

h1#tdestaque{
    position: absolute;
    display: block;
    top: 69%;
    width: 100%;
    font-family: var(--font-principal);
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    color: #407973;
    border-radius: 10px 0px 0px 0px;
   
}

p#pdestaque{
    position: absolute;
    display: block;
    top: 78%;
    margin: 0px 5%;
    width: 90%;
    text-align: center;
    font-size: 1em;
    text-shadow: 3px 3px 4px black;
    border-radius: 0px 0px 10px 10px;
}

#buttondestaque{
    display: block;
    position: absolute;
    right: 5px;
    top: 30%;
    width: 100px;
    height: 25px;
    font-size:0.7em;
    border-radius: 15px;
    border: none;
    background-color:#325c58;
    color: white;
    font-family: var(--font-principal);
    
}

#buttondestaque:hover{
    background-color:#498680;
    color: white;
    cursor: pointer;
}

#nossocafe{
    display: block;
    margin: auto;
    width: 250px;
    margin: 7% auto;
}


.slider{
    position: relative;
    height:480px;
    width: 100vw;
    overflow: hidden;
 
}

.slides{
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide-animation 11s infinite; /* Altere 10s para ajustar a velocidade de transição */
}

.slide{
    width: 33.33%; /*TAMANHO DA IMAGEM, COMO SÃO 3 CADA UMATERÁ ESSE VALOR*/
}

@keyframes slide-animation {
    0% { margin-left: 0; }
    20% { margin-left: 0; } /* Slide parado por 20% do tempo total */
    33.33% { margin-left: -100%; }
    53.33% { margin-left: -100%; } /* Slide parado por 20% do tempo total */
    66.66% { margin-left: -200%; }
    86.66% { margin-left: -200%; } /* Slide parado por 20% do tempo total */
    100% { margin-left: -200%; } /* Volta ao primeiro slide sem mostrar o fundo do body */
   
}

.slide img{
    width: 100%;
    height: 100%;
}

#buttoncardapio{
    display: block;
    background-color: var(--cor5);
    margin: auto;
    margin-top: 2vh;
    height: 30px;
    width: 25%;
    border: none;
    border-radius: 15px;
}

#linkcardapio{
    display: block;
    color: white;
    font-family: var(--font-secundaria);
    font-size: 1.1em;
    text-decoration: none;
    margin: auto;
    height: 70%;
    width: 100%;
   
}

#buttoncardapio:hover{
    background-color: #fd6e27;
    cursor: pointer;
}



#identidade > div{
    width: 100vw;
    height: 90vh;
}
.quemsomos{
    width: 100%;
    height: 80%;
    background-image: url(../imagens/quemsomosp.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-top: 5vh;
}

.atendimento{
    width: 100%;
    height: 80%;
    background-image: url(../imagens/atendimentop.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cafeteria{
    width: 100%;
    height: 80%;
    background-image: url(../imagens/cafeteriap.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#acessorios{
    width: 100%;
    height: 100%;
}

section#acessorios > div{
    display: block;
    margin: 25px auto;
    background-color: #fff3ed;
    width: 70%;
    height: 445px;
    border-radius: 15px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.185);
}

#acessorios > div > p{
    margin: 11px;
    text-align: justify;
}

#acessorios > div > img{
   
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

#acessorios > div > h1{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px  solid; 
    margin-top: 10px;
    
}
#acessorios > div > a{text-decoration: none;}
#acessorios > div > a > input[type='button']:hover{
    background-color: #498680;
    cursor: pointer;
}
#acessorios > div > a > input[type='button']{
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-transform: capitalize;
    display: block;
    margin: 20px auto;
    width: 170px;
    height: 30px;
    background-color: #325c58;
}
section{

}

footer{
    background-color: var(--cor1);
    height: 30%;
}