@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1: #325c58 /*verde*/
}

body{

}

header{

}
#logo{
    
    
}
#flogo{
    display: block;
   width: 150px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items:left;
    background-color:var(--cor1);
    height: 12vh;
}

#imenu{
    display:none;
    color: white;
}

.sessoes{
    display: flex;
    margin-top:50px ;
    list-style-type: none;

}
.sessoes > li{
    letter-spacing: 3px;
    margin-left: 32px;
}
a{
    text-decoration: none;
    color: white;
    

}

footer{

}