@charset "UTF-8";

section#destaque{
    background-image: url(../imagens/destaquem.jpg);
   
}

p#pdestaque{
    width: 500px;
    left: 50%;
    margin: 0px;
    font-size: 1em;
    transform: translate(-50%);
}

#buttondestaque{
    right: 25px;
    top: 200px;
    width: 150px;
    height: 30px;
    font-size:1em;
}

.slider{
    height:520px;
}


#nossocafe{
    width: 350px;
}

#buttoncardapio{
    width: 180px;

}

#acessorios{
    width: 100%;
    height: 100%;
}

section#acessorios > div{
    width: 420px;
    
}

.sessao-footer{
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: column;
    gap: 40px
    
  }
.form {
  
    width: 300px;
    font-size: 1.125rem;
    margin-right: 30px;
  }

  .links-uteis > li{
    font-size: 1.2em;
    margin: 20px 0px;
  }



