@charset "UTF-8";

section#destaque{
    background-image: url(../imagens/destaquegg.jpg);
    background-position:  center left;
    height: 700px;
   
}


h1#tdestaque{
    display: none;
    
}
p#pdestaque{
    width: 600px;
    top: 260px;
    left: 700px;
    margin: 0px;
    font-size: 1.8em;

    text-align: left;
    transform: translate(-30%);

   
}

#buttondestaque{
    left: 520px;
    top: 370px;
    width: 170px;
    height: 45px;
    font-size:1em;
    
}

#nossocafe{
    width: 350px;
    margin: 25px auto;
}

.slider{
    position: none;
    height:400px;
    width: 100vw;
 
}

.slides{
    display: flex;
    width: 100%;
    height: 100%;
    animation: none; 
}


@keyframes slide-animation {
    
    0% { margin-left: 0%; }
    0% { margin-left: 0%; } /* Slide parado por 20% do tempo total */
    0% { margin-left: 0%; }
   0% { margin-left: 0%; } /* Slide parado por 20% do tempo total */
    0% { margin-left: 0%; }
    0% { margin-left: 0%; } /* Slide parado por 20% do tempo total */
    0% { margin-left: 0%; } /* Volta ao primeiro slide sem mostrar o fundo do body */
   
}

#buttoncardapio{
    width: 180px;
}


.quemsomos{
    background-image: url(../imagens/quemsomosg.jpg);
}

.atendimento{
    background-image: url(../imagens/atendimentog.jpg);
  
}

.cafeteria{

    background-image: url(../imagens/cafeteriag.jpg);
    
}
#acessorios{
    display: flex;
}

.ac{
    width: 380px;
}

.facessorio{
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}


.facessorio > img{
    width: 100%;
    height: 100%;

}

section#acessorios > div{
    margin: 25px auto;
    width: 300px;
    height: 590px;
   
}



#acessorios > div > img{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}


#acessorios > div > a > input[type='button']:hover{
    background-color: #498680;
    cursor: pointer;
}

#acessorios > div > a > input[type='button']{
    width: 180px;
    top: 520px;

}
