@charset "UTF-8";

.titulofotosessao{
    background-color: #325c58;
    height: 700px;
}

#normal{
    background-image: url(../imagens/acessorios-loja3gg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.sessaoloja{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    width: 80%;
    height: 100%;
    margin: auto 10%;

}

footer{
    height: 250px;
}

.sessoesfooter{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: flex-end;
    
}

.sessoesfooter > div{
    margin: 40px;
}

.links > a {
    font-size: 1.3em;
}

.icone{
    width: 38px;
}